* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Navbar */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: #ffffff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.logo {
    font-size: 22px;
    font-weight: bold;
    color: #222;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

nav ul li a.active,
nav ul li a:hover {
    color: #007bff;
}

/* Hero Section */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 120px;
    min-height: calc(100vh - 80px);
}

.hero-text h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.hero-text h2 {
    font-size: 36px;
    margin-bottom: 15px;
}

.hero-text span {
    color: #ff7a00;
}

.hero-text p {
    font-size: 18px;
    margin-bottom: 25px;
}

.btn {
    display: inline-block;
    padding: 12px 25px;
    background: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 25px;
}

.hero-image img {
    width: 300px;
    height: 300px;
    border-radius: 50% ;
}
/* Footer */
.footer {
    background: #222;
    color: #fff;
    text-align: center;
    padding: 30px 15px;
    margin-top: 60px;
}

.footer p {
    margin-bottom: 15px;
    font-size: 14px;
}

/* Social Icons */
.social-icons a {
    color: #ddd;
    font-size: 22px;
    margin: 0 12px;
    display: inline-block;
    transition: color 0.3s, transform 0.3s;
}

.social-icons a:hover {
    color: #007bff;
    transform: scale(1.2);
}




/* Responsive Design */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        gap: 10px;
    }

    nav ul {
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
    }

    .hero {
        flex-direction: column;
        text-align: center;
        padding: 40px 20px;
    }

    .hero-image {
        margin-top: 30px;
    }
    .social-icons a {
        font-size: 20px;
        margin: 0 8px;
    }
}
