*{margin:0;padding:0;box-sizing:border-box;font-family:Arial}

header{
    display:flex;justify-content:space-between;
    padding:15px 40px;box-shadow:0 2px 10px #ccc;
}

nav ul{display:flex;gap:20px;list-style:none}
nav a{text-decoration:none;color:#333}
nav a.active,nav a:hover{color:#007bff}

.video{
    padding:60px;text-align:center;
}

video{
    width:80%;max-width:700px;margin-top:20px;
}
.footer {
    background: #222;
    color: #fff;
    text-align: center;
    padding: 30px 15px;
    margin-top: 60px;
}

.footer p {
    margin-bottom: 15px;
    font-size: 14px;
}

/* Social Icons */
.social-icons a {
    color: #ddd;
    font-size: 22px;
    margin: 0 12px;
    display: inline-block;
    transition: color 0.3s, transform 0.3s;
}

.social-icons a:hover {
    color: #007bff;
    transform: scale(1.2);
}


@media(max-width:768px){
    header{flex-direction:column}
    video{width:100%}
    .footer {
    background: #222;
    color: #fff;
    text-align: center;
    padding: 30px 15px;
    margin-top: 60px;
}

.footer p {
    margin-bottom: 15px;
    font-size: 14px;
}

/* Social Icons */
.social-icons a {
    color: #ddd;
    font-size: 22px;
    margin: 0 12px;
    display: inline-block;
    transition: color 0.3s, transform 0.3s;
}

.social-icons a:hover {
    color: #007bff;
    transform: scale(1.2);
}

}
